<h1>Search Results</h1>

<% if @societies.present? %>
 <%=render 'societies/societiesList', :societies => @societies %>
 <%end%>
 <% if @events.present? %>
  <%=render 'events/eventList', :events => @events %>
<% end %>