<div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Our recent Events
                    <small>It's just for you!</small>
                </h1>
            </div>

        </div>

<!../%= link_to 'New Society', new_society_path %..>


 <%=render 'eventList', :events => @events %>
