<% provide(:title, 'HomePage') %>

       <div class="jumbotron">
                  <h1>Welcome to ClubBiz</h1>
                  <p> here we will have a short paragraph about clubBiz, this paragraph is taken from database<p>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Popular Event</h2>
                    <p>Here we will have a short description about the event, include date, time if possible </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!--/span-->
                  <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Popular Event</h2>
                    <p>Here we will have a short description about the event, include date, time if possible </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!--/span-->
                  <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Popular Event</h2>
                    <p>Here we will have a short description about the event, include date, time if possible </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!--/span-->
                  <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Popular Event</h2>
                    <p>Here we will have a short description about the event, include date, time if possible </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!--/span-->
                  <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Popular Event</h2>
                    <p>Here we will have a short description about the event, include date, time if possible </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!--/span-->
                  <div class="col-6 col-sm-6 col-lg-4">
                  <h2>Popular Event</h2>
                    <p>Here we will have a short description about the event, include date, time if possible </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                  </div><!--/span-->
          </div><!--/row-->